:root {
  --primary-bg-color: #f8f8f8;
  --primary-text-color: #1f1f1f;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

a {
  text-decoration: none;
}
a:link,
a:visited {
  color: var(--primary-text-color);
}
