---
import HeaderLink from "./HeaderLink.astro";
import { Image } from "astro:assets";

// import { SITE_TITLE } from "../consts";
---

<header>
  <nav>
    <a href="/"
      ><Image
        src="/favicon.svg"
        alt="logo for cclin's blog"
        width="40"
        height="40"
        loading="eager"
      />
    </a>
    <div>
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
    <div></div>
  </nav>
</header>
<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>
