* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Poppins", sans-serif; */
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
ul li {
    width: 200px;
    height: 35px;
    display: flex;
    align-items: center;
    margin: 1.5em;
    cursor: pointer;
    padding: 1em;
    position: relative;
    color: white;
    border-radius: 5px;
}

li a {
    color: black;
  }